mat-card.team-card {
	max-width: 350px;
	width: 85%;
	margin-top: 50px;
	align-self: flex-start;
}

mat-card.team-card mat-card-header {
	display: block;
	text-align: center;
}

mat-accordion.sorter {
	max-width: 250px;
	width: 85%;
	margin-top: 25px;
}

.remove-button-container {
	padding-top: 10px;
}

div.chart-container {
	padding: 25px;
}

div.csv-button {
	padding-top: 20px;
}