<!-- div holding the sort menu (hides if data array is empty) -->
<div *ngIf="data.length > 0" class="center-container">
	<mat-accordion class="sorter" multi="true">
		<mat-expansion-panel>
		
			<mat-expansion-panel-header>
				<mat-panel-title>
					Sorting
				</mat-panel-title>
			</mat-expansion-panel-header>

			<mat-form-field>
				<!-- Sort method selection - pulls an option for each option in the sortmethods array -->
				<!-- Binds value to sort.method -->
				<mat-select placeholder="Sort Method" [(ngModel)]="sort.method" (ngModelChange)="resort()">
					<mat-option *ngFor="let method of sortmethods" [value]="method.value">{{ method.name }}</mat-option>
				</mat-select>
			</mat-form-field>

			<mat-form-field>
				<!-- Sort direction - ascending/descending -->
				<!-- Binds as a boolean to sort.ascending -->
				<mat-select placeholder="Sort Direction" [(ngModel)]="sort.ascending" (ngModelChange)="resort()">
					<mat-option [value]="false">Descending</mat-option>
					<mat-option [value]="true">Ascending</mat-option>
				</mat-select>
			</mat-form-field>

			<!-- Button to reset sort methods -->
			<div class="center-container">
				<button mat-button color="warn" type="button" (click)="reset()">Reset</button>
			</div>
			
		</mat-expansion-panel>
	</mat-accordion>
</div>

<!-- Button to download CSV of current data structure - hides when data array is empty -->
<div *ngIf="data.length > 0" class="center-container csv-button">
	<button mat-raised-button color="primary" type="button" (click)="downloadCSV()">Download CSV</button>
</div>

<mat-tab-group mat-stretch-tabs dynamicHeight disableRipple="true" *ngIf="data.length > 0" (selectedTabChange)="tabChange($event)" (animationDone)="reloadGraphs()">
<mat-tab label="Data">
	<div class="center-container">

		<!-- Create a card for each entry in the data array -->
		<mat-card *ngFor="let entry of data" class="team-card">
			<mat-card-header>
				<!-- Set the team number title and matches played subtitle -->
				<mat-card-title>Team {{ entry.team }}</mat-card-title>
				<mat-card-subtitle>{{ entry.rawdata.length }} match<ng-container *ngIf="entry.rawdata.length !== 1">es</ng-container></mat-card-subtitle>
			</mat-card-header>
			<mat-card-content>
				<!-- New list -->
				<mat-list role="list">
					<mat-list-item role="listitem">
						<!-- Average cycle count from entry -->
						Average Cycles: {{ entry.averages.cycles }}
					</mat-list-item>
					<mat-list-item role="listitem">
						<!-- Average drop count from entry -->
						Average Drops: {{ entry.averages.drops }}
					</mat-list-item>
					<mat-list-item role="listitem">
						<!-- Average defense time from entry -->
						Average Defense Time: {{ entry.averages.defensetime }} seconds
					</mat-list-item>
				</mat-list>

				<div class="carded-chart-container">
					<div style="font-size: 16px;">Climb Breakdown</div>
					<div class="climb-chart" [id]="'climb' + entry.team"></div>
				</div>

				<mat-accordion multi="true">
					<!-- Hatch expansion panel -->
					<mat-expansion-panel>

						<mat-expansion-panel-header>
							<mat-panel-title>
								Average Hatch Panels
							</mat-panel-title>
							<mat-panel-description>
								{{ entry.averages.hatch.cycles }}
							</mat-panel-description>
						</mat-expansion-panel-header>

						<mat-list role="list">
							<mat-list-item role="listitem">
								Average Dropped Panels: {{ entry.averages.hatch.drops }}
							</mat-list-item>
							<mat-list-item role="listitem">
								Average Top Panels: {{ entry.averages.hatch.top }}
							</mat-list-item>
							<mat-list-item role="listitem">
								Average Middle Panels: {{ entry.averages.hatch.middle }}
							</mat-list-item>
							<mat-list-item role="listitem">
								Average Bottom Panels: {{ entry.averages.hatch.bottom }}
							</mat-list-item>
							<mat-list-item role="listitem">
								Average Cargo Panels: {{ entry.averages.hatch.cargo }}
							</mat-list-item>
						</mat-list>

					</mat-expansion-panel>

					<!-- Cargo expansion panel -->
					<mat-expansion-panel>

						<mat-expansion-panel-header>
							<mat-panel-title>
								Average Cargo
							</mat-panel-title>
							<mat-panel-description>
								{{ entry.averages.cargo.cycles }}
							</mat-panel-description>
						</mat-expansion-panel-header>

						<mat-list role="list">
							<mat-list-item role="listitem">
								Average Dropped Cargo: {{ entry.averages.cargo.drops }}
							</mat-list-item>
							<mat-list-item role="listitem">
								Average Top Cargo: {{ entry.averages.cargo.top }}
							</mat-list-item>
							<mat-list-item role="listitem">
								Average Middle Cargo: {{ entry.averages.cargo.middle }}
							</mat-list-item>
							<mat-list-item role="listitem">
								Average Bottom Cargo: {{ entry.averages.cargo.bottom }}
							</mat-list-item>
							<mat-list-item role="listitem">
								Average Cargo Cargo: {{ entry.averages.cargo.cargo }}
							</mat-list-item>
						</mat-list>

					</mat-expansion-panel>

					<!-- Notes expansion panel -->
					<mat-expansion-panel *ngIf="entry.notes.length > 0">

						<mat-expansion-panel-header>
							<mat-panel-title>
								Notes
							</mat-panel-title>
						</mat-expansion-panel-header>

						<ul>
							<li *ngFor="let note of entry.notes">{{ note }}</li>
						</ul>

					</mat-expansion-panel>
				</mat-accordion>

				<!-- Hide team button - disables if fewer thsan 2 teams -->
				<div class="center-container remove-button-container">
					<button mat-button color="warn" type="button" [disabled]="data.length < 2" (click)="dropTeam(entry.team)">Hide Team</button>
				</div>

			</mat-card-content>
		</mat-card>

	</div>
</mat-tab>

<mat-tab label="Charts">

	<div class="chart-container">
		<h3 class="mat-card-title">Average Cycles</h3>
		<div id="cyclechart"></div>
	</div>

	<div class="chart-container">
		<h3 class="mat-card-title">Average Drops</h3>
		<div id="dropchart"></div>
	</div>

	<div class="chart-container">
		<h3 class="mat-card-title">Average Hatch Panels</h3>
		<div id="hatchchart"></div>
	</div>

	<div class="chart-container">
		<h3 class="mat-card-title">Average Cargo</h3>
		<div id="cargochart"></div>
	</div>

	<div class="chart-container">
		<h3 class="mat-card-title">Average Defense Time</h3>
		<div id="defensechart"></div>
	</div>

</mat-tab>
</mat-tab-group>