<div class="center-container">

	<!-- Create a card for each entry in the data array -->
	<mat-card *ngFor="let entry of data" class="team-card">
		<mat-card-header>
			<!-- Set the team number title and matches played subtitle -->
			<mat-card-title>Team {{ entry.team }}</mat-card-title>
			<mat-card-subtitle>{{ entry.matchCount }} match<ng-container *ngIf="entry.matchCount !== 1">es</ng-container></mat-card-subtitle>
		</mat-card-header>
		<mat-card-content>
			<div class="center-container">
				<mat-spinner *ngIf="!entry.visible"></mat-spinner>
			</div>
			<ng-container *ngIf="entry.visible">
				<!-- New list -->
				<mat-list role="list">
					<mat-list-item role="listitem">
						<!-- Average cycle count from entry -->
						Average Cycles: {{ entry.averages.cycles }}
					</mat-list-item>
					<mat-list-item role="listitem">
						<!-- Average drop count from entry -->
						Average Drops: {{ entry.averages.drops }}
					</mat-list-item>
				</mat-list>
				<mat-accordion multi="true">
					<mat-expansion-panel>
						<mat-expansion-panel-header>
							<mat-panel-title>
								Average Hatch Panels
							</mat-panel-title>
							<mat-panel-description>
								{{ entry.averages.hatch.cycles }}
							</mat-panel-description>
						</mat-expansion-panel-header>
					</mat-expansion-panel>
					<mat-expansion-panel>
						<mat-expansion-panel-header>
							<mat-panel-title>
								Average Cargo
							</mat-panel-title>
							<mat-panel-description>
								{{ entry.averages.cargo.cycles }}
							</mat-panel-description>
						</mat-expansion-panel-header>
					</mat-expansion-panel>
				</mat-accordion>
			</ng-container>
		</mat-card-content>
	</mat-card>
</div>