<div *ngIf="data.length > 0" class="center-container">
	<mat-accordion class="sorter" multi="true">
		<mat-expansion-panel>
			<mat-expansion-panel-header>
				<mat-panel-title>
					Sorting
				</mat-panel-title>
			</mat-expansion-panel-header>
			<mat-form-field>
				<mat-select placeholder="Sort Method" [(ngModel)]="sort.method" (ngModelChange)="resort()">
					<mat-option *ngFor="let method of sortmethods" [value]="method.value">{{ method.name }}</mat-option>
				</mat-select>
			</mat-form-field>
			<mat-form-field>
				<mat-select placeholder="Sort Direction" [(ngModel)]="sort.ascending" (ngModelChange)="resort()">
					<mat-option [value]="false">Descending</mat-option>
					<mat-option [value]="true">Ascending</mat-option>
				</mat-select>
			</mat-form-field>
			<div class="center-container">
				<button mat-button color="warn" type="button" (click)="reset()">Reset</button>
			</div>
		</mat-expansion-panel>
	</mat-accordion>
</div>

<div class="center-container">

	<!-- Create a card for each entry in the data array -->
	<mat-card *ngFor="let entry of data" class="team-card">
		<mat-card-header>
			<!-- Set the team number title and matches played subtitle -->
			<mat-card-title>Team {{ entry.team }}</mat-card-title>
			<mat-card-subtitle>{{ entry.matchCount }} match<ng-container *ngIf="entry.matchCount !== 1">es</ng-container></mat-card-subtitle>
		</mat-card-header>
		<mat-card-content>
			<!-- New list -->
			<mat-list role="list">
				<mat-list-item role="listitem">
					<!-- Average cycle count from entry -->
					Average Cycles: {{ entry.averages.cycles }}
				</mat-list-item>
				<mat-list-item role="listitem">
					<!-- Average drop count from entry -->
					Average Drops: {{ entry.averages.drops }}
				</mat-list-item>
			</mat-list>
			<mat-accordion multi="true">
				<mat-expansion-panel>
					<mat-expansion-panel-header>
						<mat-panel-title>
							Average Hatch Panels
						</mat-panel-title>
						<mat-panel-description>
							{{ entry.averages.hatch.cycles }}
						</mat-panel-description>
					</mat-expansion-panel-header>
					<mat-list role="list">
						<mat-list-item role="listitem">
							Average Dropped Panels: {{ entry.averages.hatch.drops }}
						</mat-list-item>
						<mat-list-item role="listitem">
							Average Top Panels: {{ entry.averages.hatch.top }}
						</mat-list-item>
						<mat-list-item role="listitem">
							Average Middle Panels: {{ entry.averages.hatch.middle }}
						</mat-list-item>
						<mat-list-item role="listitem">
							Average Bottom Panels: {{ entry.averages.hatch.bottom }}
						</mat-list-item>
						<mat-list-item role="listitem">
							Average Cargo Panels: {{ entry.averages.hatch.cargo }}
						</mat-list-item>
					</mat-list>
				</mat-expansion-panel>
				<mat-expansion-panel>
					<mat-expansion-panel-header>
						<mat-panel-title>
							Average Cargo
						</mat-panel-title>
						<mat-panel-description>
							{{ entry.averages.cargo.cycles }}
						</mat-panel-description>
					</mat-expansion-panel-header>
					<mat-list role="list">
						<mat-list-item role="listitem">
							Average Dropped Cargo: {{ entry.averages.cargo.drops }}
						</mat-list-item>
						<mat-list-item role="listitem">
							Average Top Cargo: {{ entry.averages.cargo.top }}
						</mat-list-item>
						<mat-list-item role="listitem">
							Average Middle Cargo: {{ entry.averages.cargo.middle }}
						</mat-list-item>
						<mat-list-item role="listitem">
							Average Bottom Cargo: {{ entry.averages.cargo.bottom }}
						</mat-list-item>
						<mat-list-item role="listitem">
							Average Cargo Cargo: {{ entry.averages.cargo.cargo }}
						</mat-list-item>
					</mat-list>
				</mat-expansion-panel>
			</mat-accordion>
			<div class="center-container remove-button-container">
				<button mat-button color="warn" type="button" [disabled]="data.length < 2" (click)="dropTeam(entry.team)">Hide Team</button>
			</div>
		</mat-card-content>
	</mat-card>
	<div id="cyclechart"></div>
</div>