div.event-dialog {
	display: flex;
	align-items: center;
	text-align: center;
	justify-content: center;
	flex-wrap: wrap;
}

button.event-button {
	margin-top: 10px;
	margin-bottom: 10px;
	width: 180px;
}

div.hint-text {
	margin-bottom: 15px;
}