<form class="center-container" name="runForm" id="runForm" (ngSubmit)="onSubmit()">

<mat-card *ngIf="!showForm">
	<mat-card-header>
		<mat-card-title>Setup</mat-card-title>
	</mat-card-header>
	<label for="teamNumber">Team Number</label>
	<div>
		<mat-form-field>
			<input matInput name="teamNumber" id="teamNumber" type="number" min="0" max="9999" [(ngModel)]="team" #teamNumber=ngModel required>
		</mat-form-field>
	</div>
	<div class="alert-required" *ngIf="teamNumber.invalid && (teamNumber.dirty || teamNumber.touched)">Team Number is required</div>

	<label for="matchNumber">Match Number</label>
	<div>
		<mat-form-field>
			<input matInput name="matchNumber" id="matchNumber" type="number" min="0" max="999" [(ngModel)]="match" #matchNumber=ngModel required>
		</mat-form-field>
	</div>
	<div class="alert-required" *ngIf="matchNumber.invalid && (matchNumber.dirty || matchNumber.touched)">Match Number is required</div>

	<label>Starting Position</label>
	<div>
		<mat-form-field>
			<mat-select name="StartingPos" id="startingPos" [(ngModel)]="start" #startingPos=ngModel required>
				<mat-option *ngFor="let opt of startingPositions" [value]="opt.Value">{{opt.Name}}</mat-option>
			</mat-select>
		</mat-form-field>
	</div>
	<div class="alert-required" *ngIf="startingPos.invalid && (startingPos.dirty || startingPos.touched)">Starting Position is required</div>

	<label>Starting Configuration</label>
	<div>
		<mat-form-field>
			<mat-select name="StartingConf" id="startingConf" [(ngModel)]="load" #startingConf=ngModel required>
				<mat-option *ngFor="let opt of startingConfigs" [value]="opt.Value">{{opt.Name}}</mat-option>
			</mat-select>
		</mat-form-field>
	</div>
	<div class="alert-required" *ngIf="startingConf.invalid && (startingConf.dirty || startingConf.touched)">Starting Configuration is required</div>

	<button mat-raised-button *ngIf="!showForm" color="primary" class="submit-run" type="button" (click)="startMatch()" [disabled]="teamNumber.invalid || matchNumber.invalid || startingPos.invalid || startingConf.invalid">Start Match</button>
</mat-card>

<mat-card *ngIf="showForm" style="text-align: center;">
	<ng-container [counter]="counter" [interval]="interval" (value)="time = $event">
		<h3>Remaining Time: {{ displayTime }}</h3>
	</ng-container>
</mat-card>

<mat-card *ngIf="showForm" style="text-align: center;">
	<h3>Last Event: {{ lastEvent }}</h3>
</mat-card>

<mat-card *ngIf="showForm" class="button-card">
	<div *ngFor="let element of gameElements">
		<button mat-raised-button *ngIf="showForm" class="element-button" type="button" color="primary" [disabled]="(counter - time) < (element.RevealTime + 1) || time < 1" (click)="getElement(element)">{{element.Name}}</button>
	</div>
</mat-card>

<button mat-raised-button *ngIf="showForm" color="primary" class="submit-run" [disabled]="time > 0">Submit</button>

</form>
