/* Form Item Styles */

.form-label {
	color: #4b4b4b;
}

.alert-required {
	margin-top: -15px;
	padding-top: 0px;
	margin-bottom: 15px;
	color: #ff0000;
}

button.minus-button {
	background-color: #db4b41;
	margin-right: 10px;
}

button.plus-button {
	background-color: #55b458;
	margin-left: 10px;
}

.number-field {
	width: 60%;
}

.textarea-field {
	width: 90%;
}

.checkbox-div {
	margin-bottom: 10px;
}

mat-slider {
	width: 90%;
}

.mat-slider-thumb-label {
	transform: rotate(45deg) !important;
	border-radius: 50% 50% 0 !important;
  }
  
  .mat-slider-thumb {
	transform: scale(0) !important;
  }
  
  .mat-slider-thumb-label-text {
	opacity: 1 !important;
  }