/* Global Styles */

@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import url('https://use.fontawesome.com/releases/v5.0.8/css/all.css');

@import '~ngx-toastr/toastr.css';

body {
	margin: 0;
	font-family: Roboto, sans-serif;
}

.spacer {
	/* This fills the remaining space, by using flexbox.
	   Every toolbar row uses a flexbox row layout. */
	flex: 1 1 auto;
}

.title-bar {
	width: 100%;
}

@media screen and (max-width: 500px) {
	.mobileHidden {
		text-align: right;
		width: 50%;
		padding: 0;
		margin: 0;
		visibility: hidden;
		display:none;
	}
}

.center-container {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap:wrap;
	flex-flow: column;
}

mat-card {
	margin: 20px;
}
