<div class="form-inline">
<input [(ngModel)]="Request.value" min=1 type="number" class="form-control form-inline" name="MatchNumber" id="MatchNumber">
<button (click)="requestMatch()" class="btn btn-primary form-inline">Analyze Match</button>
<button (click)="requestTeam()" class="btn btn-primary form-inline">Analyze Team</button>
</div>
<fieldset *ngIf="dataType == 'match'">
	<legend>Match {{ data.MatchNumber }}</legend>
	<h5>Blue Alliance</h5>
	<table class="tg">
		<tr>
			<th>Team Number</th>
			<th>Start Position</th>
			<th>Auto Movement Line</th>
			<th>Auto Switch Cubes</th>
			<th>Auto Scale Cubes</th>
			<th>Tele Switch Cubes</th>
			<th>Tele Scale Cubes</th>
			<th>Portal Returned Cubes</th>
			<th>End Position</th>
			<th>Yellow Cards</th>
			<th>Red Cards</th>
		</tr>
		<tr>
			<td>{{ data.BlueAlliance.Team1?.TeamNumber }}</td>
			<td>{{ data.BlueAlliance.Team1?.StartPosition }}</td>
			<td>{{ data.BlueAlliance.Team1?.AutoMovementLine }}</td>
			<td>{{ data.BlueAlliance.Team1?.AutoSwitchCubes }}</td>
			<td>{{ data.BlueAlliance.Team1?.AutoScaleCubes }}</td>
			<td>{{ data.BlueAlliance.Team1?.TeleSwitchCubes }}</td>
			<td>{{ data.BlueAlliance.Team1?.TeleScaleCubes }}</td>
			<td>{{ data.BlueAlliance.Team1?.PortalReturnedCubes }}</td>
			<td>{{ data.BlueAlliance.Team1?.EndPosition }}</td>
			<td>{{ data.BlueAlliance.Team1?.YellowCards }}</td>
			<td>{{ data.BlueAlliance.Team1?.RedCards }}</td>
		</tr>
		<tr>
			<td>{{ data.BlueAlliance.Team2?.TeamNumber }}</td>
			<td>{{ data.BlueAlliance.Team2?.StartPosition }}</td>
			<td>{{ data.BlueAlliance.Team2?.AutoMovementLine }}</td>
			<td>{{ data.BlueAlliance.Team2?.AutoSwitchCubes }}</td>
			<td>{{ data.BlueAlliance.Team2?.AutoScaleCubes }}</td>
			<td>{{ data.BlueAlliance.Team2?.TeleSwitchCubes }}</td>
			<td>{{ data.BlueAlliance.Team2?.TeleScaleCubes }}</td>
			<td>{{ data.BlueAlliance.Team2?.PortalReturnedCubes }}</td>
			<td>{{ data.BlueAlliance.Team2?.EndPosition }}</td>
			<td>{{ data.BlueAlliance.Team2?.YellowCards }}</td>
			<td>{{ data.BlueAlliance.Team2?.RedCards }}</td>
		</tr>
		<tr>
			<td>{{ data.BlueAlliance.Team3?.TeamNumber }}</td>
			<td>{{ data.BlueAlliance.Team3?.StartPosition }}</td>
			<td>{{ data.BlueAlliance.Team3?.AutoMovementLine }}</td>
			<td>{{ data.BlueAlliance.Team3?.AutoSwitchCubes }}</td>
			<td>{{ data.BlueAlliance.Team3?.AutoScaleCubes }}</td>
			<td>{{ data.BlueAlliance.Team3?.TeleSwitchCubes }}</td>
			<td>{{ data.BlueAlliance.Team3?.TeleScaleCubes }}</td>
			<td>{{ data.BlueAlliance.Team3?.PortalReturnedCubes }}</td>
			<td>{{ data.BlueAlliance.Team3?.EndPosition }}</td>
			<td>{{ data.BlueAlliance.Team3?.YellowCards }}</td>
			<td>{{ data.BlueAlliance.Team3?.RedCards }}</td>
		</tr>
	</table>

	<h5>Red Alliance</h5>
	<table class="tg">
		<tr>
			<th>Team Number</th>
			<th>Start Position</th>
			<th>Auto Movement Line</th>
			<th>Auto Switch Cubes</th>
			<th>Auto Scale Cubes</th>
			<th>Tele Switch Cubes</th>
			<th>Tele Scale Cubes</th>
			<th>Portal Returned Cubes</th>
			<th>End Position</th>
			<th>Yellow Cards</th>
			<th>Red Cards</th>
		</tr>
		<tr>
			<td>{{ data.RedAlliance.Team1?.TeamNumber }}</td>
			<td>{{ data.RedAlliance.Team1?.StartPosition }}</td>
			<td>{{ data.RedAlliance.Team1?.AutoMovementLine }}</td>
			<td>{{ data.RedAlliance.Team1?.AutoSwitchCubes }}</td>
			<td>{{ data.RedAlliance.Team1?.AutoScaleCubes }}</td>
			<td>{{ data.RedAlliance.Team1?.TeleSwitchCubes }}</td>
			<td>{{ data.RedAlliance.Team1?.TeleScaleCubes }}</td>
			<td>{{ data.RedAlliance.Team1?.PortalReturnedCubes }}</td>
			<td>{{ data.RedAlliance.Team1?.EndPosition }}</td>
			<td>{{ data.RedAlliance.Team1?.YellowCards }}</td>
			<td>{{ data.RedAlliance.Team1?.RedCards }}</td>
		</tr>
		<tr>
			<td>{{ data.RedAlliance.Team2?.TeamNumber }}</td>
			<td>{{ data.RedAlliance.Team2?.StartPosition }}</td>
			<td>{{ data.RedAlliance.Team2?.AutoMovementLine }}</td>
			<td>{{ data.RedAlliance.Team2?.AutoSwitchCubes }}</td>
			<td>{{ data.RedAlliance.Team2?.AutoScaleCubes }}</td>
			<td>{{ data.RedAlliance.Team2?.TeleSwitchCubes }}</td>
			<td>{{ data.RedAlliance.Team2?.TeleScaleCubes }}</td>
			<td>{{ data.RedAlliance.Team2?.PortalReturnedCubes }}</td>
			<td>{{ data.RedAlliance.Team2?.EndPosition }}</td>
			<td>{{ data.RedAlliance.Team2?.YellowCards }}</td>
			<td>{{ data.RedAlliance.Team2?.RedCards }}</td>
		</tr>
		<tr>
			<td>{{ data.RedAlliance.Team3?.TeamNumber }}</td>
			<td>{{ data.RedAlliance.Team3?.StartPosition }}</td>
			<td>{{ data.RedAlliance.Team3?.AutoMovementLine }}</td>
			<td>{{ data.RedAlliance.Team3?.AutoSwitchCubes }}</td>
			<td>{{ data.RedAlliance.Team3?.AutoScaleCubes }}</td>
			<td>{{ data.RedAlliance.Team3?.TeleSwitchCubes }}</td>
			<td>{{ data.RedAlliance.Team3?.TeleScaleCubes }}</td>
			<td>{{ data.RedAlliance.Team3?.PortalReturnedCubes }}</td>
			<td>{{ data.RedAlliance.Team3?.EndPosition }}</td>
			<td>{{ data.RedAlliance.Team3?.YellowCards }}</td>
			<td>{{ data.RedAlliance.Team3?.RedCards }}</td>
		</tr>
	</table>
</fieldset>

<fieldset *ngIf="dataType == 'team'">
	<legend>Team {{ data.TeamNumber }}</legend>
</fieldset>