<form class="form-horizontal scouting" (ngSubmit)="onSubmit()" #matchForm="ngForm" name="pitForm" id="pitForm">

	<fieldset id="team-info">
		<legend>Team Info</legend>
		<div class="form-group">
			<label for="TeamNumber">Team Number</label>
			<input type="number" [(ngModel)]="pitModel.TeamNumber" class="form-control" name="TeamNumber" id="TeamNumber" min="0" max="9999" required>
		</div>
		<div class="form-group">
			<label for="TeamName">Team Name</label>
			<input type="text" [(ngModel)]="pitModel.TeamName" class="form-control" name="TeamName" id="TeamName" required>
		</div>
		<div class="form-group">
			<label for="TeamLocation">Team Location</label>
			<input type="text" [(ngModel)]="pitModel.TeamLocation" class="form-control" name="TeamLocation" id="TeamLocation">
		</div>
	</fieldset>

	<fieldset id="robot-info">
		<legend>Basic Robot Info</legend>
		<div class="form-group">
			<label for="GroundClearance">Ground Clearance (in inches)</label>
			<input type="number" [(ngModel)]="pitModel.GroundClearance" class="form-control" name="GroundClearance" id="GroundClearance" min="0" required>
		</div>
		<div class="form-group">
			<label for="DriveTrain">Drive Train</label>
			<select [(ngModel)]="pitModel.DriveTrain" class="form-control" name="DriveTrain" id="DriveTrain">
				<option value="tank">Tank Drive</option>
				<option value="4wd">4 Wheel Drive</option>
				<option value="6wd">6 Wheel Drive</option>
				<option value="8wd">8 Wheel Drive</option>
				<option value="wcd">West Coast Drive</option>
				<option value="mecanum">Mecanum Drive</option>
				<option value="swerve">Swerve Drive</option>
				<option value="other">Other (specify in notes field)</option>
			</select>
		</div>
		<div class="form-group">
			<label for="RobotWeight">Robot Weight (in pounds)</label>
			<input type="number" [(ngModel)]="pitModel.RobotWeight" class="form-control" name="RobotWeight" id="RobotWeight" min="0">
		</div>
		<div class="form-group">
			<label>Autonomous Starting Position</label>
			<div>
				<label for="left">Left</label>
				<input type="checkbox" [(ngModel)]="pitModel.LeftStart" class="form-control" name="autoPos" id="left" value="true">
				<label for="center">Center</label>
				<input type="checkbox" [(ngModel)]="pitModel.CenterStart" class="form-control" name="autoPos" id="center" value="true">
				<label for="right">Right</label>
				<input type="checkbox" [(ngModel)]="pitModel.RightStart" class="form-control" name="autoPos" id="right" value="true">
			</div>
		</div>
		<div class="form-group">
			<label>Mechanisms</label>
			<div class="form-group">
				<input [(ngModel)]="pitModel.CubeMech" class="form-control" type="checkbox" name="mechanisms" id="CubeMech" value="true">
				<label class="checkbox" for="CubeMech">Cube Mechanism</label>
			</div>
			<div class="form-group">
				<input [(ngModel)]="pitModel.GroundIntake" class="form-control" type="checkbox" name="mechanisms" id="GroundIntake" value="true">
				<label class="checkbox" for="GroundIntake">Ground Cube Intake</label>
			</div>
			<div class="form-group">
				<input [(ngModel)]="pitModel.Climber" class="form-control" type="checkbox" name="mechanisms" id="Climber" value="true">
				<label class="checkbox" for="Climber">Climber</label>
			</div>
		</div>
	</fieldset>

	<fieldset id="autoCapa">
		<legend>Autonomous Capabilities</legend>
		<div class="form-group">
			<input [(ngModel)]="pitModel.Baseline" class="form-control" type="checkbox" name="autoCapa" id="Baseline" value="true">
			<label class="checkbox" for="Baseline">Baseline</label>
		</div>
		<div class="form-group">
			<input [(ngModel)]="pitModel.AutonomousSwitch" class="form-control" type="checkbox" name="autoCapa" id="AutonomousSwitch" value="true">
			<label class="checkbox" for="AutonomousSwitch">Autonomous Switch</label>
		</div>
		<div class="form-group">
			<input [(ngModel)]="pitModel.AutonomousScale" class="form-control" type="checkbox" name="autoCapa" id="AutonomousScale" value="true">
			<label class="checkbox" for="AutonomousScale">Autonomous Scale</label>
		</div>
		<div class="form-group">
			<input [(ngModel)]="pitModel.AutonomousExchange" class="form-control" type="checkbox" name="autoCapa" id="AutonomousExchange" value="true">
			<label class="checkbox" for="AutonomousExchange">Autonomous Exchange</label>
		</div>
	</fieldset>

	<fieldset id="teleCapa">
		<legend>Teleoperated Capabilities</legend>
		<div class="form-group">
			<input [(ngModel)]="pitModel.TeleopSwitch" class="form-control" type="checkbox" name="teleCapa" id="TeleopSwitch" value="true">
			<label class="checkbox" for="TeleopSwitch">Teleoperated Switch</label>
		</div>
		<div class="form-group">
			<input [(ngModel)]="pitModel.TeleopScale" class="form-control" type="checkbox" name="teleCapa" id="TeleopScale" value="true">
			<label class="checkbox" for="TeleopScale">Teleoperated Scale</label>
		</div>
		<div class="form-group">
			<input [(ngModel)]="pitModel.TeleopExchange" class="form-control" type="checkbox" name="teleCapa" id="TeleopExchange" value="true">
			<label class="checkbox" for="TeleopExchange">Teleoperated Exchange</label>
		</div>
	</fieldset>

	<fieldset>
		<legend><label for="notes">Additional Notes</label></legend>
		<div class="form-group">
			<textarea [(ngModel)]="pitModel.Notes" class="form-control" name="notes" id="notes" cols="40" rows="5"></textarea>
		</div>
	</fieldset>

	<button *ngIf="matchForm.invalid" class="btn btn-success form-control" disabled="true">Submit Data</button>
	<button *ngIf="matchForm.valid" type="submit" class="btn btn-success form-control">Submit Data</button>

<!--{{ pitPayload }}-->
</form>
