/* Cache Management Styles */

mat-card.splash-card {
	max-width: 350px;
	width: 85%;
	margin-top: 50px;
}

mat-card.splash-card mat-card-header {
	display: block;
	text-align: center;
}

.splash-button {
	margin-bottom: 10px;
	text-align: center;
}