<form class="form-horizontal scouting" (ngSubmit)="onSubmit()" #matchForm="ngForm" name="matchForm" id="matchForm">

	<fieldset id="start-data">
		<legend>Starting Data</legend>
		<div class="form-group">
			<label for="TeamNumber">Team Number</label>
			<input [(ngModel)]="matchModel.TeamNumber" type="number" class="form-control" name="TeamNumber" id="TeamNumber" min="0" max="9999" required>
		</div>
		<div class="form-group">
			<label for="MatchNumber">Match Number</label>
			<input [(ngModel)]="matchModel.MatchNumber" type="number" class="form-control" name="MatchNumber" id="MatchNumber" min="0" max="9999" required>
		</div>
		<div class="form-group">
			<label for="StartPosition">Robot Starting Position</label>
			<select [(ngModel)]="matchModel.StartPosition" class="form-control" name="StartPosition" id="StartPosition" required>
				<option value="red_1">Red 1</option>
				<option value="red_2">Red 2</option>
				<option value="red_3">Red 3</option>
				<option value="blue_1">Blue 1</option>
				<option value="blue_2">Blue 2</option>
				<option value="blue_3">Blue 3</option>
			</select>
		</div>
	</fieldset>

	<fieldset id="autonomous">
		<legend>Autonomous</legend>
		<div class="form-group">
			<input [(ngModel)]="matchModel.AutoMovementLine" class="form-control" type="checkbox" name="AutoMovementLine" id="AutoMovementLine" value="true">
			<label class="checkbox" for="AutoMovementLine">Autonomous Movement Line</label>
		</div>
		<div class="form-group">
			<label class="number" for="AutoSwitchCubes">Autonomous Power Cubes on Switch</label>
			<input [(ngModel)]="matchModel.AutoSwitchCubes" class="form-control spacer" type="number" name="AutoSwitchCubes" id="AutoSwitchCubes" min="0" value="0">
			<div class="">
				<span class="input-group-btn">
					<button (click)="minusbutton('AutoSwitchCubes')" type="button" class="quantity-left-minus btn btn-danger btn-number" data-type="minus"
					 data-field="">
						<i class="fas fa-xs fa-minus"></i>
					</button>
				</span>
				<span class="input-group-btn">
					<button (click)="plusbutton('AutoSwitchCubes')" type="button" class="quantity-right-plus btn btn-success btn-number" data-type="plus" data-field="">
						<i class="fas fa-xs fa-plus"></i>
					</button>
				</span>
			</div>
		</div>
		<div class="form-group">
			<label class="number" for="AutoScaleCubes">Autonomous Power Cubes on Scale</label>
			<input [(ngModel)]="matchModel.AutoScaleCubes" class="form-control spacer" type="number" name="AutoScaleCubes" id="AutoScaleCubes" min="0" value="0">
			<div class="">
				<span class="input-group-btn">
					<button (click)="minusbutton('AutoScaleCubes')" type="button" class="quantity-left-minus btn btn-danger btn-number" data-type="minus" data-field="">
						<i class="fas fa-xs fa-minus"></i>
					</button>
				</span>
				<span class="input-group-btn">
					<button (click)="plusbutton('AutoScaleCubes')" type="button" class="quantity-right-plus btn btn-success btn-number" data-type="plus" data-field="">
						<i class="fas fa-xs fa-plus"></i>
					</button>
				</span>
			</div>
		</div>
		<div class="form-group">
			<label class="number" for="FailedAutoSwitchCubes">Missed Autonomous Power Cubes on Switch</label>
			<input [(ngModel)]="matchModel.FailedAutoSwitchCubes" class="form-control spacer" type="number" name="FailedAutoSwitchCubes" id="FailedAutoSwitchCubes" min="0" value="0">
			<div class="">
				<span class="input-group-btn">
					<button (click)="minusbutton('FailedAutoSwitchCubes')" type="button" class="quantity-left-minus btn btn-danger btn-number" data-type="minus" data-field="">
						<i class="fas fa-xs fa-minus"></i>
					</button>
				</span>
				<span class="input-group-btn">
					<button (click)="plusbutton('FailedAutoSwitchCubes')" type="button" class="quantity-right-plus btn btn-success btn-number" data-type="plus" data-field="">
						<i class="fas fa-xs fa-plus"></i>
					</button>
				</span>
			</div>
		</div>
		<div class="form-group">
			<label class="number" for="FailedAutoScaleCubes">Missed Autonomous Power Cubes on Scale</label>
			<input [(ngModel)]="matchModel.FailedAutoScaleCubes" class="form-control spacer" type="number" name="FailedAutoScaleCubes" id="FailedAutoScaleCubes" min="0" value="0">
			<div class="">
				<span class="input-group-btn">
					<button (click)="minusbutton('FailedAutoScaleCubes')" type="button" class="quantity-left-minus btn btn-danger btn-number" data-type="minus" data-field="">
						<i class="fas fa-xs fa-minus"></i>
					</button>
				</span>
				<span class="input-group-btn">
					<button (click)="plusbutton('FailedAutoScaleCubes')" type="button" class="quantity-right-plus btn btn-success btn-number" data-type="plus" data-field="">
						<i class="fas fa-xs fa-plus"></i>
					</button>
				</span>
			</div>
		</div>
		<div class="form-group">
			<label class="number" for="AutoExchange">Autonomous Power Cubes in Exchange</label>
			<input [(ngModel)]="matchModel.AutoExchange" class="form-control spacer" type="number" name="AutoExchange" id="AutoExchange" min="0" value="0">
			<div class="">
				<span class="input-group-btn">
					<button (click)="minusbutton('AutoExchange')" type="button" class="quantity-left-minus btn btn-danger btn-number" data-type="minus"
					 data-field="">
						<i class="fas fa-xs fa-minus"></i>
					</button>
				</span>
				<span class="input-group-btn">
					<button (click)="plusbutton('AutoExchange')" type="button" class="quantity-right-plus btn btn-success btn-number" data-type="plus"
					 data-field="">
						<i class="fas fa-xs fa-plus"></i>
					</button>
				</span>
			</div>
		</div>
	</fieldset>

	<fieldset id="teleop">
		<legend>Teleoperated</legend>
		<div class="form-group">
			<label class="number" for="TeleSwitchCubes">Teleop Power Cubes on Switch</label>
			<input [(ngModel)]="matchModel.TeleSwitchCubes" class="form-control spacer" type="number" name="TeleSwitchCubes" id="TeleSwitchCubes" min="0" value="0">
			<div class="">
				<span class="input-group-btn">
					<button (click)="minusbutton('TeleSwitchCubes')" type="button" class="quantity-left-minus btn btn-danger btn-number" data-type="minus" data-field="">
						<i class="fas fa-xs fa-minus"></i>
					</button>
				</span>
				<span class="input-group-btn">
					<button (click)="plusbutton('TeleSwitchCubes')" type="button" class="quantity-right-plus btn btn-success btn-number" data-type="plus" data-field="">
						<i class="fas fa-xs fa-plus"></i>
					</button>
				</span>
			</div>
		</div>
		<div class="form-group">
			<label class="number" for="TeleScaleCubes">Teleop Power Cubes on Scale</label>
			<input [(ngModel)]="matchModel.TeleScaleCubes" class="form-control spacer" type="number" name="TeleScaleCubes" id="TeleScaleCubes" min="0" value="0">
			<div class="">
				<span class="input-group-btn">
					<button (click)="minusbutton('TeleScaleCubes')" type="button" class="quantity-left-minus btn btn-danger btn-number" data-type="minus" data-field="">
						<i class="fas fa-xs fa-minus"></i>
					</button>
				</span>
				<span class="input-group-btn">
					<button (click)="plusbutton('TeleScaleCubes')" type="button" class="quantity-right-plus btn btn-success btn-number" data-type="plus" data-field="">
						<i class="fas fa-xs fa-plus"></i>
					</button>
				</span>
			</div>
		</div>
		<div class="form-group">
			<label class="number" for="FailedTeleSwitchCubes">Missed Teleop Power Cubes on Switch</label>
			<input [(ngModel)]="matchModel.FailedTeleSwitchCubes" class="form-control spacer" type="number" name="FailedTeleSwitchCubes" id="FailedTeleSwitchCubes" min="0" value="0">
			<div class="">
				<span class="input-group-btn">
					<button (click)="minusbutton('FailedTeleSwitchCubes')" type="button" class="quantity-left-minus btn btn-danger btn-number" data-type="minus" data-field="">
						<i class="fas fa-xs fa-minus"></i>
					</button>
				</span>
				<span class="input-group-btn">
					<button (click)="plusbutton('FailedTeleSwitchCubes')" type="button" class="quantity-right-plus btn btn-success btn-number" data-type="plus" data-field="">
						<i class="fas fa-xs fa-plus"></i>
					</button>
				</span>
			</div>
		</div>
		<div class="form-group">
			<label class="number" for="FailedTeleScaleCubes">Missed Teleop Power Cubes on Scale</label>
			<input [(ngModel)]="matchModel.FailedTeleScaleCubes" class="form-control spacer" type="number" name="FailedTeleScaleCubes" id="FailedTeleScaleCubes" min="0" value="0">
			<div class="">
				<span class="input-group-btn">
					<button (click)="minusbutton('FailedTeleScaleCubes')" type="button" class="quantity-left-minus btn btn-danger btn-number" data-type="minus" data-field="">
						<i class="fas fa-xs fa-minus"></i>
					</button>
				</span>
				<span class="input-group-btn">
					<button (click)="plusbutton('FailedTeleScaleCubes')" type="button" class="quantity-right-plus btn btn-success btn-number" data-type="plus" data-field="">
						<i class="fas fa-xs fa-plus"></i>
					</button>
				</span>
			</div>
		</div>
		<div class="form-group">
			<label class="number" for="TeleopExchange">Teleop Power Cubes in Exchange</label>
			<input [(ngModel)]="matchModel.TeleExchange" class="form-control spacer" type="number" name="TeleExchange" id="TeleExchange" min="0" value="0">
			<div class="">
				<span class="input-group-btn">
					<button (click)="minusbutton('TeleExchange')" type="button" class="quantity-left-minus btn btn-danger btn-number" data-type="minus" data-field="">
						<i class="fas fa-xs fa-minus"></i>
					</button>
				</span>
				<span class="input-group-btn">
					<button (click)="plusbutton('TeleExchange')" type="button" class="quantity-right-plus btn btn-success btn-number" data-type="plus" data-field="">
						<i class="fas fa-xs fa-plus"></i>
					</button>
				</span>
			</div>
		</div>
	</fieldset>

	<fieldset id="endgame">
		<legend>End Game</legend>
	<!--
		<div class="form-group">
			<input [(ngModel)]="matchModel.levitate" class="form-control" type="checkbox" name="levitate" id="levitateT" value="true">
			<label class="checkbox" for="levitateT">Robot Used Levitate</label>
		</div>
	-->
		<div class="form-group">
			<label for="EndPosition">Robot End Position</label>
			<select [(ngModel)]="matchModel.EndPosition" class="form-control" name="EndPosition" id="EndPosition">
				<option value="neither">Neither</option>
				<option value="park">Parked</option>
				<option value="climb">Climbed</option>
			</select>
		</div>
	</fieldset>

	<fieldset id="cards">
		<legend>Cards</legend>
		<div class="form-group">
			<label for="YellowCards">Yellow Cards</label>
			<input [(ngModel)]="matchModel.YellowCards" class="form-control spacer" type="number" name="YellowCards" id="YellowCards" min="0" value="0">
			<div class="">
				<span class="input-group-btn">
					<button (click)="minusbutton('YellowCards')" type="button" class="quantity-left-minus btn btn-danger btn-number" data-type="minus" data-field="">
						<i class="fas fa-xs fa-minus"></i>
					</button>
				</span>
				<span class="input-group-btn">
					<button (click)="plusbutton('YellowCards')" type="button" class="quantity-right-plus btn btn-success btn-number" data-type="plus" data-field="">
						<i class="fas fa-xs fa-plus"></i>
					</button>
				</span>
			</div>
		</div>
		<div class="form-group">
			<label for="RedCards">Red Cards</label>
			<input [(ngModel)]="matchModel.RedCards" class="form-control spacer" type="number" name="RedCards" id="RedCards" min="0" value="0">
			<div class="">
				<span class="input-group-btn">
					<button (click)="minusbutton('RedCards')" type="button" class="quantity-left-minus btn btn-danger btn-number" data-type="minus" data-field="">
						<i class="fas fa-xs fa-minus"></i>
					</button>
				</span>
				<span class="input-group-btn">
					<button (click)="plusbutton('RedCards')" type="button" class="quantity-right-plus btn btn-success btn-number" data-type="plus" data-field="">
						<i class="fas fa-xs fa-plus"></i>
					</button>
				</span>
			</div>
		</div>
	</fieldset>

	<fieldset>
		<legend>Additional Notes</legend>
		<div class="form-group">
			<textarea [(ngModel)]="matchModel.Notes" class="form-control" name="Notes" id="Notes" cols="40" rows="5"></textarea>
		</div>
	</fieldset>

	<button *ngIf="matchForm.invalid" class="btn btn-success form-control" disabled="true">Submit Data</button>
	<button *ngIf="matchForm.valid" type="submit" class="btn btn-success form-control">Submit Data</button>
	
<!--{{ matchPayload }}-->
</form>
