/* Run Form Styles */

.center-container {
	flex-flow: column;
}

#runForm mat-card {
	max-width: 325px;
	width: 85%;
}

#runForm mat-card mat-card-header {
	margin-left: -17px;
}

#runForm mat-card mat-card-header mat-card-title {
	font-size: 1.7em;
}

button.submit-run {
	margin-top: 10px;
	margin-bottom: 20px;
	width: 200px;
}

mat-card.button-card {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
}

button.element-button {
	margin-top: 10px;
	margin-bottom: 10px;
	width: 180px;
}

.alert-required {
	margin-top: -15px;
	padding-top: 0px;
	margin-bottom: 15px;
	color: #ff0000;
}

.setup-field {
	width: 100%;
}
