<div class="center-container">
<mat-card class="splash-card">
	<mat-card-header>
		<mat-card-title>Welcome back {{ this.scouter }}!</mat-card-title>
		<mat-card-subtitle><button mat-button (click)="logout()">Logout<mat-icon id="edit-scouter">exit_to_app</mat-icon></button></mat-card-subtitle>
	</mat-card-header>
	<mat-card-content class="center-container">
		<div class="splash-button">
			<a routerLink="scout" routerLinkActive="active"><button mat-raised-button color="primary">Scout a Match</button></a>
		</div>
		<div class="splash-button">
			<!--<a routerLink="data" routerLinkActive="active">--><button disabled mat-raised-button color="primary">View Scouting Data</button><!--</a>-->
		</div>
		<div class="splash-button">
			<button mat-raised-button color="warn" (click)="dbs.syncRemote()">Sync Data</button>
		</div>
		<div *ngIf="isAdmin" class="splash-button">
			<button mat-button color="warn" (click)="adminMenu()">Admin Settings</button>
		</div>
	</mat-card-content>
</mat-card>
<div class="footer">
	StrangeScout v{{ version }}
</div>
</div>
